@font-face {
    font-family: big;
    src: url(big_noodle_titling.ttf);
}

body
{
	margin:0;
}
#rectangle
{
    width: 100%;
    height: 300px;
    border-bottom: solid #e8e8e8 1px;
}

#rectangle img
{
	height:100%;
	width:100%;
}
#quote
{
	width: 100%;
	font-size:25px;
	color: white; 
	position: absolute;
	font-family: cursive;
	font-weight: bold;
	top: 250px;
	text-align: center;
}
#video iframe
{
	border-style:solid;
	border-color: #e8e8e8;
	display: block;
	margin: auto;
	border-width: 3px;
	margin-top: 50px;
}
#explain
{
	display: inline;
	width: 100%;
	text-align: center;
	font-family: cursive;
}
.menubar a
{
	color:white;
	text-decoration: none;
	opacity: 0.9;
}
.menubar a:hover
{
	font-size: 35px;

}
#menuabout
{
	width: 100%;
	font-size:30px;
	color: white; 
	position: absolute;
	font-family: big;
	top: 20px;
	text-align: right;
	right: 130px;
	opacity: 1;
}

#menupic
{
	width: 100%;
	font-size:30px;
	color: white; 
	position: absolute;
	font-family: big;
	top: 20px;
	text-align: right;
	right: 250px;
	opacity: 1;
}

#menuharrison
{
	width: 100%;
	font-size:30px;
	color: white; 
	position: absolute;
	font-family: big;
	top: 20px;
	text-align: right;
	right: 380px;
	opacity: 1;
}



